$color-main: #fff;
$color-secondary: #050607;

//fonts-family;
$primary-font: "Dela Gothic One", cursive;
$secondary-font: "Museo Sans Cyrl";

//font-sizes
// $main-font-size: 16px;
// $title-h1-size: 3.5em; //56px
// $title-h2-size: 2.5em; //40px
// $title-h3-size: 1.85em; //30px
// $title-h4-size: 1.55em; //25px
// $title-h5-size: 1.25em; //20px
// $title-h6-size: 1.1em; //18px

//colors
$color-green: #21a068;
$color-hover-green: #46ad80;
$color-b-green: #035139;
$color-d-green: #f7fbf7;
$color-w-green: #f7fcf9;
$color-w-grey: #f9f9f9;
$color-d-grey: #818181;
$color-grey: #2d2d2d;
$color-black: #2a2a2a;
$color-yellow: #f9de59;

//global
$blur: blur(10px);
