.basic-cleaning {
  &__body {
    padding: 56px;
    border-radius: 20px;
    background: $color-w-grey;
    @media only screen and(max-width: 992px) {
      padding: 24px;
    }
    @media screen and (max-width: 767px) {
      padding: 16px;
    }
  }
  &__text {
    max-width: 840px;
    @media screen and (max-width: 767px) {
      line-height: 155%;
    }
  }
  &__box {
    position: relative;
  }
  &__menu {
    margin-top: 32px;
    gap: 48px;
    overflow: unset;
    max-width: 592px;
    @media only screen and(max-width: 992px) {
      margin-top: 24px;
      gap: 15px;
      max-width: unset;
      justify-content: space-between;
    }
    .slide-line {
      display: block;
      padding: 0;
      margin: 0;
      position: absolute;
      left: 0;
      top: 8px;
      z-index: 0;
      width: 110px;
      height: 4px;
      border-radius: 50px 50px 0px 0px;
      background: $color-green;
    }
  }
  &__btn {
    font-family: $primary-font;
    text-transform: uppercase;
    @media screen and (max-width: 767px) {
      font-size: 0.75em;
    }
    &.active {
      color: $color-green;
    }
  }
  &__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-width: 592px;
    gap: 16px;
    width: 100%;
    height: 100%;
    margin-top: 28px;
    @media only screen and(max-width: 992px) {
      gap: 8px;
      min-width: unset;
      height: auto;
    }
    @media screen and (max-width: 767px) {
      margin-top: 23px;
    }
  }
  &__column {
    justify-content: space-between;
    gap: 16px;
    @media only screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }
  &__image {
    width: 100%;
    max-height: 449px;
    @media only screen and(max-width: 992px) {
      max-height: unset;
    }
    img {
      width: 100%;
      height: 449px;
      object-fit: cover;
      border-radius: 12px;
    }
  }
  .column {
    cursor: pointer;
    padding: 15px 12px 15px 8px;
    height: max-content;
    transition: all 0.25s;
    position: relative;
    background: $color-main;
    border-radius: 10px;
    @media only screen and(max-width: 992px) {
      height: max-content;
      padding: 8px 22px 12px 8px;
    }
    &:hover {
      background-color: rgba(33, 160, 104, 0.1);
    }
    &.active {
      background: $color-green;
      .title-span {
        color: $color-main;
      }
      .img {
        img {
          filter: grayscale(100%) brightness(1000%);
          background-blend-mode: overlay;
        }
      }
      .absoulte-position {
        svg {
          path {
            stroke: $color-main;
          }
        }
      }
    }
    &__body {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 8px;
      position: relative;
      img {
        width: auto;
        height: 32px;
      }
    }
    &__body-close {
      position: absolute;
      right: -12px;
      top: 0;
      svg {
        cursor: pointer;
      }
    }
    &__head {
      padding: 10px 24px;
      border-radius: 10px;
      background: $color-main;
      margin-bottom: 16px;
      @media screen and (max-width: 767px) {
        padding: 10px 20px 10px 16px;
      }
      p {
        font-size: 1em;
        line-height: 140%;
        letter-spacing: 0.16px;
        color: $color-secondary;
      }
    }
    &__title {
      color: $color-green;
    }
    .title-span {
      transition: color 0.25s;
      font-size: 1.11111em;
      @media screen and (max-width: 767px) {
        font-size: 1em;
      }
    }
    .img {
      img {
        transition: all 0.25s;
        width: 45px;
        height: 45px;
        @media screen and (max-width: 767px) {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
  .name {
    display: flex;
    align-items: center;
    gap: 10px;
    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }
  }
  .absoulte-position {
    top: 8px;
    right: 8px;
    position: absolute;
    svg {
      path {
        transition: stroke 0.25s;
      }
    }
  }
  .gallery {
    img {
      height: auto;
      width: 100%;
      max-height: 285px;
      object-fit: cover;
      border-radius: 12px;
      @media only screen and(max-width: 992px) {
        max-height: 385px;
      }
    }
  }
}
