.slick-dots {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 8px;
  justify-content: center;
  margin-top: 25px;
  @media only screen and (max-width: 1024px) {
    margin-top: 12px;
  }
  @media screen and (max-width: 767px) {
    margin-top: 5px;
  }
  li.slick-active button {
    width: 8px;
    font-size: 0px;
    background: $color-secondary;
    height: 8px;
    border: none;
    border-radius: 100px;
  }
  button {
    width: 8px;
    font-size: 0px;
    background: rgba(5, 6, 7, 0.1);
    height: 8px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
  }
}
.slider-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  padding: 0px 20px;
  position: absolute;
  width: 100%;
  top: 25%;
  @media screen and (max-width: 767px) {
    &.pc {
      display: none;
    }
  }
  button {
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    background: $color-main;
    &.slick-disabled {
      opacity: 0.5;
    }
  }
}
