.banner {
  &.secondary {
    margin-top: 100px;
    height: calc(100vh - 100px);
    @media only screen and (max-width: 992px) {
      height: calc(60vh - 100px);
    }
    @media screen and (max-width: 767px) {
      background-size: 100% 210px !important;
      background-position-y: top !important;
      height: auto;
      margin-bottom: 0;
    }
  }
}
